//COLORS

:root {
  --primary-color: #55c57a;
  --dark-acccent: #28b485;
  --light-accent: #7ed56f;
  --color-grey: #777;
  --color-greyLight: #eee;
  --color-greyDark: #999;
  --color-greyDark-2: #333;
  --color-white: #fff;
  --color-black: #000;

  --colorGreyLight: #f7f7f7;

  --yellowLight: #ffb900;
  --yellowdark: #ff7730;

  --blueLight: #2998ff;
  --bluedark: #5643fa;

  //GRID
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizontal: 5rem;

  //Font
  --defaultFontSize: 1.6rem;
}
